* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.raycontainer {
  width: 100%;
  height: 100vh;
  position: relative;
  /* pointer-events: none; */
  z-index: 3;
  overflow: hidden;
  background-color: black;
}

.customrays {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.aboutcontent {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 30px;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 25%;
}

.picture {
  max-width: 600px;
  display: block;
  margin: auto;
  text-align: left;
  height: 300px;
}

.who {
  color: chocolate;
  padding-bottom: 20px;
  font-family: "Playfair Display", serif;
}

.web {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 500px;
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
}

.para {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: antiquewhite;
}

.paragraph {
  width: 500px;
  display: block;
  margin: auto;
  text-align: justify;
}

.but {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0);
  color: antiquewhite;
  font-family: monospace;
  /* margin-top: 35px; */
  width: 200px;
  border: 1px solid white;
  text-decoration: none;
}

.fonts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.icon {
  background-color: #000000;
  font-size: 25px;
  color: white;
  padding: 4px;
  border-radius: 10px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .raycontainer {
    height: 100vh;
  }

  .aboutcontent {
    flex-direction: row;
    gap: 25px;
    padding: 20px;
    top: 25%;
  }

  .picture {
    width: 300px;
    height: 900px;
    margin: 0 auto;
  }

  .who {
    padding-bottom: 18px;
    /* font-size: 28px; */
  }

  .web {
    font-size: 17px;
    /* max-width: 100%; */
    padding-bottom: 35px;
    line-height: 1.3;
  }

  .para {
    font-size: 13px;
    text-align: justify;
  }

  .paragraph {
    width: 500px;
    height: 870px;
    margin: 0 auto;
  }

  .but {
    padding: 14px 20px;
    width: 100px;
    border-radius: 8px;
    font-size: 8px;
  }

 
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .raycontainer {
    width: 100%;
    height: 100vh;
    position: relative;
    pointer-events: none;
    z-index: 3;
    overflow: hidden;
    background-color: black;
  }

  .customrays {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .aboutcontent {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 30px;
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    top: 20%;
  }

  .picture {
    max-width: 600px;
    display: block;
    margin: auto;
    text-align: left;
    height: 870px;
  }

  .who {
    color: chocolate;
    padding-bottom: 20px;
    font-family: "Playfair Display", serif;
  }

  .web {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    max-width: 500px;
    padding-bottom: 40px;
    font-family: "Poppins", sans-serif;
    color: antiquewhite;
  }

  .para {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    color: antiquewhite;
  }

  .paragraph {
    width: 500px;
    display: block;
    margin: auto;
    text-align: justify;
  }

  .but {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0);
    color: antiquewhite;
    font-family: monospace;
    /* margin-top: 35px; */
   font-size: 15px;
    width: 200px;
    border: 1px solid white;
  }



}
