* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  color: rgb(247, 242, 242);
  border-radius: 10px;
  width: 70px;
  background-color: red;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  margin: 2px;
}

.btn:hover {
  background-color: rgb(78, 234, 0);
  color: black;
}
