* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bgclr {
  background-color: black;
}

.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  /* border-radius: 30px;
 background-color: #4240406d;
  width: 700px;
  margin: auto;
  text-align: center; */
}

.Navbar li {
  display: inline-block;
  padding: 10px;
  font-size: 17px;
  font-family: "Unbounded", sans-serif;
}

li a {
  text-decoration: none;
}
button:hover {
  color: black;
}

.Navbar a:hover {
  color: rgba(169, 158, 158, 0.669);
}

.Navbar ul {
  list-style-type: none;
}

/* li {
  transition: 0.3s;
}

li:hover {
  transform: translatey(-8px);
} */

.Navbar a,
li,
h1 {
  color: rgb(255, 255, 255);
}

.checking {
  display: none;
  color: white;
}

.check {
  display: none;
}

/* .contacted {
  border-radius: 20px;
  padding: 0px 8px;
  font-size: 10px;
  background-color: rgba(58, 57, 57, 0.874);
  outline: 0;
  border: 0;
} */

@media screen and (min-width: 0px) and (max-width: 768px) {
  .Navbar {
    padding: 8px;
    text-align: center;
    align-items: center;
    font-size: 25px;
    justify-content: space-between;
  }

  .Navbar ul {
    display: none;
  }
  .checking {
    display: block;
  }

  .check:checked ~ ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.909);
    align-items: start;
  }

  .Navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .Navbar li {
    padding: 6px 8px;
    font-size: 13px;
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Navbar {
    padding: 8px;
    text-align: center;
    align-items: center;
    font-size: 25px;
    justify-content: space-between;
  }

  .Navbar ul {
    display: none;
  }
  .checking {
    display: block;
  }

  .check:checked ~ ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    /* left: 4px; */
    width: 100%;
    background-color: rgb(0, 0, 0);
    align-items: start;
    padding: 20px;
  }

  .Navbar a {
    text-decoration: none;
  }

  .Navbar li {
    padding: 6px 8px;
    font-size: 13px;
    display: block;
  }
}
